<a href="/">Home</a>
<a href="/boast/">Most Boasts</a>
<a href="/roast/">Most Roasts</a>
<a href="/score/">Scores</a>
<a href="/add_post/">Add Roast Or Boast</a>

<ul>
    {%for roast_boast in most_recent %}
    {% if roast_boast.boast %}
    <h3>Boast</h3>
    {% else %}
    <h3>Roast</h3>
    {% endif %}
    <p>{{roast_boast.user_input}}</p>
    <h3>{{ roast_boast.count_votes }}</h3>
  <a href="/up_vote/{{roast_boast.id}}/">upvote</a>
  <a href="/down_vote/{{roast_boast.id}}/">downvote</a>
  <h3>{{ roast_boast.submission_time }}</h3>
    {% endfor %}

</ul>